<h1>Listing articles</h1>
<%= link_to 'New Article', new_article_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Actions</th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td>
        <%= link_to 'Show', article_path(article) %> |
        <%= link_to 'Edit', edit_article_path(article) %> |
       <%= form_for article, method: :delete do |f| %>
  <%= f.submit 'Delete', data: { confirm: 'Are you sure?' } %>
<% end %>

      </td>
    </tr>
  <% end %>
</table>

